#root {
  /*max-width: 1280px;*/
width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainBar{
display: flex;
height: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.session{
padding: 5px 35px 5px 35px;
font-size: 20px;
font-weight: 900 !important;
color: var(--white) !important;
background:var(--blue);
border-radius: 2rem;
}

.mini{
padding: 0px 16px 0px 16px !important;
margin: -5px 20px 10px 20px;
font-weight: 500 !important;
font-size: 18px !important;
}

.log{
margin: 30px 10px 30px 20px;
}

.sign{
margin: 30px 20px 30px 10px;
}

.bar{
padding: 15px 30px 15px 12px;
margin: 20px 0 20px 20px;
border-radius: 2rem;
background: var(--white);
width: 22rem;
}

.bar:focus{
outline: none
}

.genres{
display: flex;
justify-content: start;
margin: 0px 0px 0px 50px;
}

.magnifyingGlass{
width: 40px;
height: 40px;
fill:var(--white);
display: grid;
justify-content: center; /* Centra el contenido dentro del div */
align-items: center; /* Centra verticalmente */
margin: 30px 0 0 0;
}

.send{
display: none;
}

nav {
background: var(--black);
width: 105.8%;
position: relative;
top: -48px;
left: -48px;
display: flex;
flex-direction: column;
align-items: center; /* Centrar verticalmente */
justify-content: center; /* Centrar horizontalmente */
}

.chevron{
z-index: 3;
position: absolute;
left: 50px;
top: 25px;
width: 50px;
height: 50px;
display: flex;
background: var(--white);
}

.options{
border-radius: 50px;
position: absolute;
left: -185px;
top: -08px;
background: var(--white);
width: 300px;
height: 100%;
z-index: 2;
}

.zero{
margin: 0px;
}

.appLogo{
width: 100px;
height: 100px;
}

label{
cursor: pointer;
}
