#root {
  /*max-width: 1280px;*/
width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.session{
padding: 5px 35px 5px 35px;
font-size: 20px;
letter-spacing: -0rem;
font-weight: 900 !important;
color: var(--white) !important;
background:var(--blue);
border-radius: 2rem;
}

.log{
margin: 10px 10px 10px 20px;
}

.sign{
margin: 10px 20px 10px 10px;
}

.bar{
padding: 15px 30px 15px 12px;
margin: 20px 0 20px 20px;
border-radius: 2rem;
width: 20rem;
}

.bar:focus{
outline: none
}

.magnifyingGlass{
width: 40px;
height: 40px;
fill:var(--white);
display: grid;
justify-content: center; /* Centra el contenido dentro del div */
  align-items: center; /* Centra verticalmente */

}

.send{
display: none;
}

nav {
background: var(--black);
width: 105.8%;
position: relative;
top: -48px;
left: -48px;
display: flex;
align-items: center; /* Centrar verticalmente */
justify-content: center; /* Centrar horizontalmente */
}

.chevron{
z-index: 3;
position: absolute;
left: 50px;
top: 25px;
width: 50px;
height: 50px;
display: flex;
}

.options{
border-radius: 50px;
position: absolute;
left: -180px;
top: -08px;
background: var(--white);
width: 300px;
height: 100%;
z-index: 2;
}

.appLogo{
margin: 0 40px 0 0;
padding: 6.3px 6px 5.5px 7px;
background: var(--white);
border-radius: 2rem;
font-size: 22px;
font-weight: 900 !important;
color: var(--black) !important;
}

label{
cursor: pointer;
}
