#root {
  /*max-width: 1280px;*/
width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainBar{
display: flex;
height: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.session{
padding: 5px 35px 5px 35px;
font-size: 20px;
font-weight: 900 !important;
color: var(--white) !important;
background:var(--blue);
border-radius: 2rem;

	@media (width <= 1210px ) {
	font-size: 18px;
	}
	
	@media (width <= 950px) {
	font-size: 16px !important;
	}
	
	@media (width <= 800px) {
	padding: 5px 25px 5px 25px;
	font-size: 14px !important;
	}
}

.mini{
padding: 0px 16px 0px 16px !important;
margin: -5px 20px 10px 20px;
font-weight: 500 !important;
font-size: 18px !important;

	@media (width <= 1210px ) {
	padding: 2.5px 16px 0px 16px !important;
	font-size: 16px !important;
	}

	@media (width <= 950px) {
	padding: 0px 16px 0px 16px !important;
	margin: -5px 5px 10px 5px;
	font-size: 14px !important;
	}

	@media (width <= 800px) {
	padding: 0px 16px 0px 16px !important;
	margin: -5px 5px 10px 5px;
	font-size: 12px !important;
	}
}

.log{
margin: 30px 10px 30px 20px;

	@media (width <= 1210px ) {
	margin: 32px 10px 32px 20px;
	}

	@media (width <= 950px) {
	margin: 34px 10px 34px 20px;
	}
	
	@media (width <= 800px) {
	margin: 36px 6px 34px 20px;
	}
}

.sign{
margin: 30px 20px 30px 10px;

	@media (width <= 1210px ) {
	margin: 32px 10px 32px 20px;
	}
	
	@media (width <= 950px) {
	margin: 34px 10px 34px 20px;
	}

	@media (width <= 800px) {
	margin: 36px 6px 34px 18px;
	}
}

.bar{
padding: 15px 0px 15px 12px;
margin: 20px 0 20px 10px;
border-radius: 2rem;
background: var(--white);
width: 22rem;

	@media (width <= 1210px) {
	width: 14rem;
	}
	@media (width <= 950px) {
	margin: 25px 0 20px 10px;
	width: 8rem;
	height: 20px;
	}
}

.bar:focus{
outline: none
}

.genres{
display: flex;
justify-content: start;
margin: 0px 0px 0px 50px;

	@media (width <= 950px) {
	}
}

.magnifyingGlass{
width: 40px;
height: 40px;
fill:var(--white);
display: grid;
justify-content: center; /* Centra el contenido dentro del div */
align-items: center; /* Centra verticalmente */
margin: 30px 0 0 0;
}

.send, #options{
display: none;
}

p {
background: blue;
}

nav {
background: var(--black);
position: relative;
top: -48px;
left: 45px;
display: flex;
flex-direction: column;
align-items: center; /* Centrar verticalmente */
justify-content: center; /* Centrar horizontalmente */

	@media (width <= 800) {
	}
}

.chevron{
z-index: 3;
position: absolute;
left: 20px;
top: 25px;
width: 50px;
height: 50px;
display: flex;
background: var(--white);
}

.options{
border-radius: 50px;
position: absolute;
left: -300px;
top: -08px;
background: var(--white);
width: 400px;
height: 100%;
z-index: 2;
}


.optionsOut{
transition: transform 1.5s;
transform: translateX(0%);
}


.optionsIn{
transition: transform 1.5s;
transform: translateX(50%);
}

.zero{
margin: 0px;
}

.appLogo{
width: 100px;
height: 100px;

	@media (width <= 800px) {
	width: 80px;
	height: 80px;
	margin: 10px 0 0 0;
	}
}

label{
cursor: pointer;
}
